<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>판매자 정보</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
</head>
<body>

	<div class="container">
		<h1>판매자 정보</h1>
		<img width="200" th:src="${seller.profileImage}" src="https://cdn.pixabay.com/photo/2025/04/27/13/31/avocado-9563037_1280.png">
		<div class="display-4" th:text="${seller.nickname}">에스파</div>
		<h1 class="text-warning" th:text="${seller.temperature}">53.9</h1>
	</div>

</body>
</html>