<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>즐겨 찾기 추가하기</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
</head>
<body>

	<div class="container">
		<h2>즐겨 찾기 추가하기</h2>
		<div>제목</div>
		<input class="form-control mb-3" type="text">
		<div>주소</div>
		<input class="form-control mb-3" type="text">
		<button class="btn btn-success form-control" type="button">추가</button>
	</div>

</body>
</html>